.boot-standby-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

// you can change all the styles I made, it was just an example to fit the browser page for me
// all components has one styles files
