.slimpie-word-gemaakt {
  height: 35px;
  position: relative;
  width: 167px;
}

.slimpie-word-gemaakt .text-wrapper {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 88px;
  left: -75px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: -27px;
  width: 317px;
}
