.taste-selector-container {
  max-width: 800px;
  max-height: 480px;
  height: 100%;
  display: grid;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("/src/assets/img/taste-selector.jpg");

  .logs {
    height: 80px;
  }

  .status,
  .error {
    width: fit-content;
    height: fit-content;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .strawberry,
    .lemon,
    .apple {
      cursor: pointer;
      height: 200px;
      width: 200px;
      background-color: transparent;
      border: none;
      padding: 0;
      outline: none;
      transition: transform 0.1s ease, opacity 0.1s ease;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:active {
        transform: scale(0.95);
        opacity: 0.8;
      }
    }
  }

  .configs-button {
    padding: 16px;
    height: fit-content;
    align-self: flex-end;
    justify-self: flex-end;
  }
}
