.feedback-container {
  width: 800px;
  display: flex;
  height: 480px;
  align-items: center;
  flex-direction: column;

  .container {
    height: 100%;
    display: grid;
    justify-items: center;

    #check-icon {
      color: green;
      font-size: 250px;
    }

    .texts {
      height: 50%;
      gap: 16px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .text {
        font-size: 14px;
      }

      .progress {
        font-size: 40px;
      }

      .message {
        font-size: 32px;
      }
    }
  }
}
