.configs-container {
  gap: 8px;
  display: flex;
  justify-content: center;

  .right-side,
  .left-side {
    display: flex;
    font-weight: 800;
    align-items: center;
    flex-direction: column;

    .title {
      text-align: center;
    }

    .text {
      font-size: 24px;
      text-align: center;
    }

    .total {
      width: 65%;
      text-align: center;
    }

    .main {
      width: 100px;
      display: flex;
      margin-bottom: 8px;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border: 6px solid red;

      &.enabled {
        border: 6px solid green;
      }
    }

    .tastes-box {
      gap: 16px;
      padding: 16px;
      display: grid;
      border: 1px solid black;

      .enable {
        width: 100%;
        text-align: center;
      }

      .tastes {
        display: flex;

        .taste {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;

          > .text {
            width: 80%;
          }
        }
      }
    }
  }

  .left-side {
    gap: 8px;
    display: grid;

    .infos {
      display: grid;
      font-weight: 800;
      text-align: center;
    }

    .first-peltier,
    .temperature-list {
      gap: 40px;
      padding: 16px;
      display: flex;
      border: 1px solid black;

      .box {
        gap: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .degree {
          width: 81px;
          height: 74px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          border: 1px solid black;

          &.gray {
            background-color: lightgray;
          }

          &.green {
            background-color: green;
          }

          &.red {
            background-color: red;
          }
        }
      }
    }
  }
}
